<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
    <link rel="stylesheet" href="flashlist.css">
</head>
<body>
	<h1>Flashcards</h1>
	<h2><a href="http://localhost:8001/skeleton.html">Create Flashcards</a></h2>
    {% for i in range(0, flash_list|length) -%}
    <a href="http://localhost:3000/mine/{{ i }}">{{ flash_list[i] }} </a>
    <br>
    {% endfor %}
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
</body>
</html>
